
@import url("https://fonts.googleapis.com/css?family=Lato");

body, html, #root {
  margin: 0;
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  background-color: #FCEFD5;
}

